#clicker {
    height: 500px;
    width: 500px;
    cursor: pointer;
    transition: transform 0.1s;
}

#upgrade-menu {
    font-size: larger;
}

.upgrade {
    border-bottom: 2px solid gray;
    cursor: pointer;
}

body {
    font-family: Gabriola, "Lucida Calligraphy", serif;
    transition: opacity 1s;
}

html {
    background-color: black;
}