#clicker {
    height: 500px;
    width: 500px;
    cursor: pointer;
}

#upgrade-menu {
    font-size: larger;
}

.upgrade {
    border-bottom: 2px solid gray;
    cursor: pointer;
}

body {
    font-family: Gabriola, "Lucida Calligraphy", serif;
}